<h2>Importar Deck</h2>

<form [formGroup]="form">

  <mat-form-field appearance="outline">

    <mat-label>Decklist</mat-label>

    <textarea
      matInput
      rows="18"
      formControlName="decklist">
    </textarea>

  </mat-form-field>

  <div class="actions">

    <button
      mat-button
      type="button"
      (click)="cancel()">
      Cancelar
    </button>

    <button
      mat-flat-button
      type="button"
      (click)="import()">
      Importar
    </button>

  </div>

</form>