:host {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1;
  overflow: auto;
  padding: 24px;
}