<h2 mat-dialog-title>
  {{ data ? 'Editar Deck' : 'Novo Deck' }}
</h2>

<form [formGroup]="deckForm" (ngSubmit)="save()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Formato</mat-label>
      <input matInput formControlName="format" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-form-field appearance="outline">
        <mat-label>Decklist (opcional)</mat-label>

        <textarea matInput rows="12" formControlName="decklist"> </textarea>
      </mat-form-field>

      <input #fileInput type="file" accept=".txt" hidden (change)="onFileSelected($event)" />

      <button mat-button type="button" (click)="fileInput.click()">
        <mat-icon>upload_file</mat-icon>
        Importar TXT
      </button>
    </mat-form-field>
  </mat-dialog-content>

  <div class="actions">
    <button mat-button type="button" (click)="close()">
      Cancelar
    </button>

    <button mat-raised-button color="primary" type="submit" [disabled]="deckForm.invalid">
      Salvar
    </button>
  </div>
</form>