.page {
  padding: 24px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

mat-card {
  margin-top: 24px;
  width: 100%;
}

.search-area {
  margin-bottom: 32px;
}

.search-area mat-form-field {
    width: 100%;
}

.empty-state {
  min-height: 280px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  color: #9fa4b3;
}

.empty-state mat-icon {
  font-size: 72px;
  width: 72px;
  height: 72px;

  margin-bottom: 16px;
}

.empty-state h2 {
  margin-bottom: 8px;
}