<p>Card existe? {{ !!card }}</p>

@if (deck) {

<section class="page">

  <app-deck-header [deck]="deck"></app-deck-header>

  <h2>Mainboard</h2>

  @for (deckCard of deck.mainboard; track deckCard.name) {
  <p>{{ deckCard.quantity }}x {{ deckCard.name }}</p>
  }

  @for (deckCard of deck.sideboard; track deckCard.name) {
  <p>{{ deckCard.quantity }}x {{ deckCard.name }}</p>
  }

</section>

} @else {

<section class="page">
  <h1>Deck não encontrado</h1>
</section>

}

@if (true) {

<h2>Teste</h2>

<p>{{ card?.name }}</p>

<img [src]="card?.image" width="250">

}

<p>Nome: {{ card?.name }}</p>
