@if (deck) {

<section class="page">

  <app-deck-header [deck]="deck"></app-deck-header>

  <section class="deck-columns">

    <section class="mainboard">

      <h2>Mainboard</h2>

      @for (deckCard of deck.mainboard; track deckCard.name) {

      <app-deck-card-row [deckCard]="deckCard">
      </app-deck-card-row>

      }

    </section>

    <aside class="sideboard">

      <h2>Sideboard</h2>

      @for (deckCard of deck.sideboard; track deckCard.name) {

      <app-deck-card-row [deckCard]="deckCard">
      </app-deck-card-row>

      }

    </aside>

  </section>

</section>

} @else {

<section class="page">
  <h1>Deck não encontrado</h1>
</section>

}